*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(160, 157, 153, 0.907);
}
.box{
    margin: 100px;
}

.kart{
    width: 230px;
    height: 270px;
    background-color: #fff;
    border-radius: 12px;
    position: relative;
}

.kart img{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.kart .price{
    font-size: 25px;
    color: black;
    font-weight: 500;
    margin-left: 5px;
    margin-bottom: 15px;
}

.kart .adres{
    font-size: 20px;
    color: black;
    margin-left: 5px;
}

.kart .date{
    font-size: 15px;
    color: rgb(61, 69, 77);
    font-weight: 400;
    margin: 5px;
}

.kart .percent{
    width: 20px;
    height: 20px;
    font-size: 15px;
    color: #fff;
    background-color: orange;
    border-radius: 50%;
    padding: 2.3px 4px;
    position: absolute;
    top: 5px;
    left: 30px;
    cursor: pointer;
    transition: 0,8s;
}

.percent-content{
    width: 55px;
    height: 13px;
    color: #fff;
    background-color: orange;
    position: absolute;
    font-size: 10px;
    text-align: center;
    border-radius: 4px;
    margin: 2px;
    visibility: hidden;
}

.percent:hover .percent-content{
    visibility: visible;
    
}


.fa-heart{
    color: #fff;
    position: absolute;
    top: 5px;
    right: 5px;
}

.fa-heart:hover{
    color: red;
    transition: 0.3s;
}

.roller{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;

}
.fa-paint-roller{
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    transform: rotate(-45deg);

}

.roller span{
    width: 45px;
    height: 13px;
    color: #fff;
    background-color: red;
    position: absolute;
    font-size: 10px;
    text-align: center;
    border-radius: 4px;
    margin: 2px;
    display: none;
}

.roller:hover span{
    display: block;
}

.right-arrow{
    width: 25px;
    height: 25px;
    color: #fff;
    background-color: rgba(77, 81, 85, 0.759);
    border-radius: 50%;
    padding: 4px 6px;
    position: absolute;
    top: 70px;
    right: 5px;
    visibility: hidden;
}

.left-arrow{
    width: 25px;
    height: 25px;
    color: #fff;
    background-color: rgba(77, 81, 85, 0.759);
    border-radius: 50%;
    padding: 4px 6px;
    position: absolute;
    top: 70px;
    left: 5px;
    visibility: hidden;

}

.kart:hover .left-arrow {
    visibility: visible;
}

.kart:hover .right-arrow {
    visibility: visible;
}

.gem-crown{
    width: 45px;
    height: 20px;
    background-color: #fff;
    border-radius: 4px;
    padding: 2px 3px;
    position: absolute;
    right: 5px;
    bottom: 100px;

}

.fa-gem{
    color: orangered;
}

.fa-crown{
    color: gold;
}